In [138]:
from pymongo import MongoClient
client = MongoClient('mongodb://nebadita:Nayak06051989@cluster0-shard-00-00-pak8i.mongodb.net:27017,cluster0-shard-00-01-pak8i.mongodb.net:27017,cluster0-shard-00-02-pak8i.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin')
db = client.Titanic
collection1 = db.test1
collection2 = db.train
contents = collection1.find()
for line in range(10):
    print contents[line]

{u'Fare': 7.8292, u'Name': u'Kelly, Mr. James', u'Embarked': u'Q', u'Age': 34.5, u'Parch': 0, u'Pclass': 3, u'Sex': u'male', u'SibSp': 0, u'_id': ObjectId('5a04a07d2bc46432714b37c7'), u'PassengerId': 892, u'Ticket': 330911, u'Cabin': u''}
{u'Fare': 7, u'Name': u'Wilkes, Mrs. James (Ellen Needs)', u'Embarked': u'S', u'Age': 47, u'Parch': 0, u'Pclass': 3, u'Sex': u'female', u'SibSp': 1, u'_id': ObjectId('5a04a07d2bc46432714b37c8'), u'PassengerId': 893, u'Ticket': 363272, u'Cabin': u''}
{u'Fare': 12.2875, u'Name': u'Hirvonen, Mrs. Alexander (Helga E Lindqvist)', u'Embarked': u'S', u'Age': 22, u'Parch': 1, u'Pclass': 3, u'Sex': u'female', u'SibSp': 1, u'_id': ObjectId('5a04a07d2bc46432714b37c9'), u'PassengerId': 896, u'Ticket': 3101298, u'Cabin': u''}
{u'Fare': 9.6875, u'Name': u'Myles, Mr. Thomas Francis', u'Embarked': u'Q', u'Age': 62, u'Parch': 0, u'Pclass': 2, u'Sex': u'male', u'SibSp': 0, u'_id': ObjectId('5a04a07d2bc46432714b37ca'), u'PassengerId': 894, u'Ticket': 240276, u'Cabin': u''}
{u'Fare': 8.6625, u'Name': u'Wirz, Mr. Albert', u'Embarked': u'S', u'Age': 27, u'Parch': 0, u'Pclass': 3, u'Sex': u'male', u'SibSp': 0, u'_id': ObjectId('5a04a07d2bc46432714b37cb'), u'PassengerId': 895, u'Ticket': 315154, u'Cabin': u''}
{u'Fare': 9.225, u'Name': u'Svensson, Mr. Johan Cervin', u'Embarked': u'S', u'Age': 14, u'Parch': 0, u'Pclass': 3, u'Sex': u'male', u'SibSp': 0, u'_id': ObjectId('5a04a07d2bc46432714b37cc'), u'PassengerId': 897, u'Ticket': 7538, u'Cabin': u''}
{u'Fare': 7.6292, u'Name': u'Connolly, Miss. Kate', u'Embarked': u'Q', u'Age': 30, u'Parch': 0, u'Pclass': 3, u'Sex': u'female', u'SibSp': 0, u'_id': ObjectId('5a04a07d2bc46432714b37cd'), u'PassengerId': 898, u'Ticket': 330972, u'Cabin': u''}
{u'Fare': 29, u'Name': u'Caldwell, Mr. Albert Francis', u'Embarked': u'S', u'Age': 26, u'Parch': 1, u'Pclass': 2, u'Sex': u'male', u'SibSp': 1, u'_id': ObjectId('5a04a07d2bc46432714b37ce'), u'PassengerId': 899, u'Ticket': 248738, u'Cabin': u''}
{u'Fare': 7.2292, u'Name': u'Abrahim, Mrs. Joseph (Sophie Halaut Easu)', u'Embarked': u'C', u'Age': 18, u'Parch': 0, u'Pclass': 3, u'Sex': u'female', u'SibSp': 0, u'_id': ObjectId('5a04a07d2bc46432714b37cf'), u'PassengerId': 900, u'Ticket': 2657, u'Cabin': u''}
{u'Fare': 24.15, u'Name': u'Davies, Mr. John Samuel', u'Embarked': u'S', u'Age': 21, u'Parch': 0, u'Pclass': 3, u'Sex': u'male', u'SibSp': 2, u'_id': ObjectId('5a04a07d2bc46432714b37d0'), u'PassengerId': 901, u'Ticket': u'A/4 48871', u'Cabin': u''}

In [115]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
import pandas
 
spark = SparkSession.builder \
        .appName("Titanic") \
        .getOrCreate()
dataFramePandasTrain = pandas.DataFrame(list(collection2.find()))
dataFramePandasTest = pandas.DataFrame(list(collection1.find()))
dataFramePandasTrain = dataFramePandasTrain.drop('_id', 1)
dataFramePandasTest = dataFramePandasTest.drop('_id', 1)
dataFramePandasTrain.info()
print dataFramePandasTrain.head(10)
#print dataFramePandasTest.head(10)

#Transforming Pandas Dataframe to Spark DataFrames
context = SQLContext(sparkContext = spark.sparkContext, sparkSession = spark)
#testRows = dataFramePandasTest.map(lambda p: Row(Age =p[0],Cabin = p[1],Fare = p[2], Name = p[3],Parch =p[4], PassengerId=p[5],Pclass=p[6], Sex=p[7], SibSp=p[8], Survived=p[9], Ticket= p[10]))
#sparkTrain = context.createDataFrame(dataFramePandasTrain)
#sparkTest = context.createDataFrame(dataFramePandasTest)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
Age            891 non-null object
Cabin          891 non-null object
Embarked       891 non-null object
Fare           891 non-null float64
Name           891 non-null object
Parch          891 non-null object
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
SibSp          891 non-null int64
Survived       891 non-null int64
Ticket         891 non-null object
dtypes: float64(1), int64(4), object(7)
memory usage: 83.6+ KB
  Age Cabin Embarked     Fare  \
0  26              S   7.9250
1  38   C85        C  71.2833
2  35              S   8.0500
3                  Q   8.4583
4  54   E46        S  51.8625
5  35  C123        S  53.1000
6  14              C  30.0708
7   4    G6        S  16.7000
8  58  C103        S  26.5500
9  20              S   8.0500

                                                Name Parch  PassengerId  \
0                             Heikkinen, Miss. Laina     0            3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...     0            2
2                           Allen, Mr. William Henry     0            5
3                                   Moran, Mr. James     0            6
4                            McCarthy, Mr. Timothy J     0            7
5       Futrelle, Mrs. Jacques Heath (Lily May Peel)     0            4
6                Nasser, Mrs. Nicholas (Adele Achem)     0           10
7                    Sandstrom, Miss. Marguerite Rut     1           11
8                           Bonnell, Miss. Elizabeth     0           12
9                     Saundercock, Mr. William Henry     0           13

   Pclass     Sex  SibSp  Survived            Ticket
0       3  female      0         1  STON/O2. 3101282
1       1  female      1         1          PC 17599
2       3    male      0         0            373450
3       3    male      0         0            330877
4       1    male      0         0             17463
5       1  female      1         1            113803
6       2  female      1         1            237736
7       3  female      1         1           PP 9549
8       1  female      0         1            113783
9       3    male      0         0         A/5. 2151

In [116]:
#Type cast train data from Pandas to dataframe
#dataFramePandasTrain.fillna('NaN')
dataFramePandasTrain['Age'] = pandas.to_numeric(dataFramePandasTrain['Age'], errors='coerce')
dataFramePandasTrain['Parch'] = pandas.to_numeric(dataFramePandasTrain['Parch'], errors='coerce')
dataFramePandasTrain['Fare'] = pandas.to_numeric(dataFramePandasTrain['Fare'], errors='ignore')
dataFramePandasTrain['Cabin'] = dataFramePandasTrain['Cabin'].astype(basestring).astype(str)
dataFramePandasTrain['Embarked'] = dataFramePandasTrain['Embarked'].astype(basestring).astype(str, errors='ignore')
dataFramePandasTrain['Sex'] = dataFramePandasTrain['Sex'].astype(basestring).astype(str)
dataFramePandasTrain['Ticket'] = dataFramePandasTrain['Ticket'].astype(basestring).astype(str)
dataFramePandasTrain.info()
train = context.createDataFrame(dataFramePandasTrain)


#Type cast test data from Pandas to dataframe

dataFramePandasTest['Age'] = pandas.to_numeric(dataFramePandasTest['Age'], errors='coerce')
dataFramePandasTest['Cabin'] = dataFramePandasTest['Cabin'].astype(basestring).astype(str)
dataFramePandasTest['Embarked'] = dataFramePandasTest['Embarked'].astype(basestring).astype(str)
dataFramePandasTest['Age'] = pandas.to_numeric(dataFramePandasTest['Age'])
dataFramePandasTest['Sex'] = dataFramePandasTest['Sex'].astype(basestring).astype(str)
dataFramePandasTest['Ticket'] = dataFramePandasTest['Ticket'].astype(basestring).astype(str)
dataFramePandasTest.info()

test = context.createDataFrame(dataFramePandasTrain)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
Age            714 non-null float64
Cabin          891 non-null object
Embarked       891 non-null object
Fare           891 non-null float64
Name           891 non-null object
Parch          890 non-null float64
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
SibSp          891 non-null int64
Survived       891 non-null int64
Ticket         891 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 83.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
Age            332 non-null float64
Cabin          418 non-null object
Embarked       418 non-null object
Fare           418 non-null object
Name           418 non-null object
Parch          418 non-null int64
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
SibSp          418 non-null int64
Ticket         418 non-null object
dtypes: float64(1), int64(4), object(6)
memory usage: 36.0+ KB

In [140]:
test = test.fillna({'Age':'0'})
train = train.fillna({'Age':'0'})
train = train.fillna({'Embarked':'S'})
test = test.fillna({'Embarked':'0'})
print test.show()
print train.show()

+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|label|          Ticket|modifiedAge|modifiedFare|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
|26.0|     |       S|  7.925|Heikkinen, Miss. ...|  0.0|          3|     3|female|    0|    1|STON/O2. 3101282|       26.0|       7.925|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|  0.0|          2|     1|female|    1|    1|        PC 17599|       38.0|     71.2833|
|35.0|     |       S|   8.05|Allen, Mr. Willia...|  0.0|          5|     3|  male|    0|    0|          373450|       35.0|        8.05|
| 0.0|     |       Q| 8.4583|    Moran, Mr. James|  0.0|          6|     3|  male|    0|    0|          330877|        0.0|      8.4583|
|54.0|  E46|       S|51.8625|McCarthy, Mr. Tim...|  0.0|          7|     1|  male|    0|    0|           17463|       54.0|     51.8625|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|  0.0|          4|     1|female|    1|    1|          113803|       35.0|        53.1|
|14.0|     |       C|30.0708|Nasser, Mrs. Nich...|  0.0|         10|     2|female|    1|    1|          237736|       14.0|     30.0708|
| 4.0|   G6|       S|   16.7|Sandstrom, Miss. ...|  1.0|         11|     3|female|    1|    1|         PP 9549|        4.0|        16.7|
|58.0| C103|       S|  26.55|Bonnell, Miss. El...|  0.0|         12|     1|female|    0|    1|          113783|       58.0|       26.55|
|20.0|     |       S|   8.05|Saundercock, Mr. ...|  0.0|         13|     3|  male|    0|    0|       A/5. 2151|       20.0|        8.05|
| 2.0|     |       S| 21.075|Palsson, Master. ...|  1.0|          8|     3|  male|    3|    0|          349909|        2.0|      21.075|
|27.0|     |       S|11.1333|Johnson, Mrs. Osc...|  2.0|          9|     3|female|    0|    1|          347742|       27.0|     11.1333|
|39.0|     |       S| 31.275|Andersson, Mr. An...|  5.0|         14|     3|  male|    1|    0|          347082|       39.0|      31.275|
|14.0|     |       S| 7.8542|Vestrom, Miss. Hu...|  0.0|         15|     3|female|    0|    0|          350406|       14.0|      7.8542|
|55.0|     |       S|   16.0|Hewlett, Mrs. (Ma...|  0.0|         16|     2|female|    0|    1|          248706|       55.0|        16.0|
| 2.0|     |       Q| 29.125|Rice, Master. Eugene|  1.0|         17|     3|  male|    4|    0|          382652|        2.0|      29.125|
| 0.0|     |       S|   13.0|Williams, Mr. Cha...|  0.0|         18|     2|  male|    0|    1|          244373|        0.0|        13.0|
|31.0|     |       S|   18.0|Vander Planke, Mr...|  0.0|         19|     3|female|    1|    0|          345763|       31.0|        18.0|
|35.0|     |       S|   26.0|Fynney, Mr. Joseph J|  0.0|         21|     2|  male|    0|    0|          239865|       35.0|        26.0|
| 0.0|     |       C|  7.225|Masselmani, Mrs. ...|  NaN|         20|     3|female|    0|    1|            2649|        0.0|       7.225|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
only showing top 20 rows

None
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|label|          Ticket|modifiedAge|modifiedFare|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
|26.0|     |       S|  7.925|Heikkinen, Miss. ...|  0.0|          3|     3|female|    0|    1|STON/O2. 3101282|       26.0|       7.925|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|  0.0|          2|     1|female|    1|    1|        PC 17599|       38.0|     71.2833|
|35.0|     |       S|   8.05|Allen, Mr. Willia...|  0.0|          5|     3|  male|    0|    0|          373450|       35.0|        8.05|
| 0.0|     |       Q| 8.4583|    Moran, Mr. James|  0.0|          6|     3|  male|    0|    0|          330877|        0.0|      8.4583|
|54.0|  E46|       S|51.8625|McCarthy, Mr. Tim...|  0.0|          7|     1|  male|    0|    0|           17463|       54.0|     51.8625|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|  0.0|          4|     1|female|    1|    1|          113803|       35.0|        53.1|
|14.0|     |       C|30.0708|Nasser, Mrs. Nich...|  0.0|         10|     2|female|    1|    1|          237736|       14.0|     30.0708|
| 4.0|   G6|       S|   16.7|Sandstrom, Miss. ...|  1.0|         11|     3|female|    1|    1|         PP 9549|        4.0|        16.7|
|58.0| C103|       S|  26.55|Bonnell, Miss. El...|  0.0|         12|     1|female|    0|    1|          113783|       58.0|       26.55|
|20.0|     |       S|   8.05|Saundercock, Mr. ...|  0.0|         13|     3|  male|    0|    0|       A/5. 2151|       20.0|        8.05|
| 2.0|     |       S| 21.075|Palsson, Master. ...|  1.0|          8|     3|  male|    3|    0|          349909|        2.0|      21.075|
|27.0|     |       S|11.1333|Johnson, Mrs. Osc...|  2.0|          9|     3|female|    0|    1|          347742|       27.0|     11.1333|
|39.0|     |       S| 31.275|Andersson, Mr. An...|  5.0|         14|     3|  male|    1|    0|          347082|       39.0|      31.275|
|14.0|     |       S| 7.8542|Vestrom, Miss. Hu...|  0.0|         15|     3|female|    0|    0|          350406|       14.0|      7.8542|
|55.0|     |       S|   16.0|Hewlett, Mrs. (Ma...|  0.0|         16|     2|female|    0|    1|          248706|       55.0|        16.0|
| 2.0|     |       Q| 29.125|Rice, Master. Eugene|  1.0|         17|     3|  male|    4|    0|          382652|        2.0|      29.125|
| 0.0|     |       S|   13.0|Williams, Mr. Cha...|  0.0|         18|     2|  male|    0|    1|          244373|        0.0|        13.0|
|31.0|     |       S|   18.0|Vander Planke, Mr...|  0.0|         19|     3|female|    1|    0|          345763|       31.0|        18.0|
|35.0|     |       S|   26.0|Fynney, Mr. Joseph J|  0.0|         21|     2|  male|    0|    0|          239865|       35.0|        26.0|
| 0.0|     |       C|  7.225|Masselmani, Mrs. ...|  NaN|         20|     3|female|    0|    1|            2649|        0.0|       7.225|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
only showing top 20 rows

None

In [141]:
#Since from the above step we realized that the age column has null values, we will try to gauge the average age of people belonging to a particular class.

exploreAge = train.where(train["Age"].isNotNull()).groupBy('Pclass').avg('Age')
exploreAge.show()

+------+------------------+
|Pclass|          avg(Age)|
+------+------------------+
|     1| 32.92324074074074|
|     3|18.177026476578412|
|     2| 28.09146739130435|
+------+------------------+

In [142]:
from pyspark.ml.feature import Imputer
#Now we will check for null values in the Age column
NullAgeTrain = train.where(train["Age"].isNull())
#display(NullFaresTrain)

#Check Null fares for Test
NullAgeTest = test.where(test["Age"].isNull())
#display(NullFaresTest)

#From the above queries we will realize that there is one Null value for Test data. That is for passengerID = 1044

#Now we will replace this Null value with the mean value of the column. To do so we will use the Imputer transformer
imputer= Imputer(inputCols=["Age"],outputCols=["modifiedAge"]).fit(test)
test = imputer.transform(test)

#Do it for train too , to maintain the sync of columns in test and train
train = imputer.transform(train)

#Check Null fares for Test after running Imputer
NullAgeTest = test.where(test["Age"].isNull())
NullAgeTest.show()

+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
|Age|Cabin|Embarked|Fare|Name|Parch|PassengerId|Pclass|Sex|SibSp|label|Ticket|modifiedAge|modifiedFare|
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+

In [143]:
#I am including this step in my second iteration. I discovered that my Vector Assembler was erroring out in the pipeline because there were null categorical values in the
#Error received: Caused by: org.apache.spark.SparkException: Values to assemble cannot be null.
#Embarked column for for Passenger ID 62 and 830.

exploreEmbarkNull = train.where(train["Embarked"].isNull())
exploreEmbarkNull.show()

+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
|Age|Cabin|Embarked|Fare|Name|Parch|PassengerId|Pclass|Sex|SibSp|label|Ticket|modifiedAge|modifiedFare|
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+

In [146]:
# After discovering the null values, I want to replace them with the highest frequency of Embarked class occuring in the train data.
#From the below query, I realized tha
#Embarked   #Count
#Q          77
#C          168
#S          644

#So, will replace the two null embarked values [Passenger ID: 62,830] with Embarked Values "S" as frequency of null values

exploreEmbark = train.where(train["Embarked"].isNotNull()).groupBy('Embarked').count()
exploreEmbark.show()

+--------+-----+
|Embarked|count|
+--------+-----+
+--------+-----+

In [147]:
##Replae the Embarked valuees to 'S' for passenger 62 and 830
train = train.na.fill({'Embarked':'S'})
test = test.na.fill({'Embarked':'S'})

#Check the values
embarkedNullRemoved = train.where(train["Embarked"].isNull())
embarkedNullRemoved.show()

+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
|Age|Cabin|Embarked|Fare|Name|Parch|PassengerId|Pclass|Sex|SibSp|label|Ticket|modifiedAge|modifiedFare|
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+

In [148]:
from pyspark.ml.feature import Imputer
#Now we will check for null values in the Fare column
NullFaresTrain = train.where(train["Fare"].isNull())
#display(NullFaresTrain)

#Check Null fares for Test
NullFaresTest = test.where(test["Fare"].isNull())
#display(NullFaresTest)

#From the above queries we will realize that there is one Null value for Test data. That is for passengerID = 1044

#Now we will replace this Null value with the mean value of the column. To do so we will use the Imputer transformer
imputer= Imputer(inputCols=["Fare"],outputCols=["modifiedFare"]).fit(test)
test = imputer.transform(test)

#Do it for train too , to maintain the sync of columns in test and train
train = imputer.transform(train)

#Check Null fares for Test after running Imputer
NullRemovedFaresTest = test.where(test["Fare"].isNull())
NullRemovedFaresTest.show()

+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
|Age|Cabin|Embarked|Fare|Name|Parch|PassengerId|Pclass|Sex|SibSp|label|Ticket|modifiedAge|modifiedFare|
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+
+---+-----+--------+----+----+-----+-----------+------+---+-----+-----+------+-----------+------------+

In [149]:

from pyspark.ml.feature import *
from pyspark.sql.functions import *

# Rename survived column to "label"
train = train.withColumnRenamed("Survived", "label")
test = test.withColumnRenamed("Survived", "label")

train.show()
test.show()



#List of Categorical Variables
#1) Survived: Label 1 or 0
#2) Pclass: Categorical (1,2,3)
#3) Sex: Categorical (Male,Female)
#4) Age: Continuous
#5) SibSp: Categorical(0,1,2,...8) ---Discrete
#6) Parch: Categorical(0,1,2,3...9)----Discrete
#7) Fare: Continuous
#8) Embarked: Categorical(C,Q,S)


#Indexed all the labels, to add the metadata
genderIndex = StringIndexer(inputCol = "Sex", outputCol="indexedSex" ).setHandleInvalid("skip")
embarkIndex = StringIndexer(inputCol="Embarked", outputCol="indexedEmbarked").setHandleInvalid("skip")

#After multiple iterations I realized that we cannot use OHE on features with different categories in the test and the train data set. Because the Vector assembler will error out in the Pipeline.tranform() step due to mismatch in the vector size. Hence we are only using OHE on the gender and Embarked category as their number of categories is constant in the test and in the train data set.

#Creating One hot encoding on indexed columns to produce sparse vectors
#surviveEncode = OneHotEncoder(inputCol="Survived",outputCol="survivedVector")
genderEncode = OneHotEncoder(inputCol=genderIndex.getOutputCol(),outputCol="SexVector")
embarkEncode = OneHotEncoder(inputCol=embarkIndex.getOutputCol(),outputCol="EmbarkedVector")
pClassEncode = OneHotEncoder(inputCol="Pclass", outputCol="PclassVector")
SibSpEncode = OneHotEncoder(inputCol="SibSp",outputCol="SibSpVector")
ParchEncode = OneHotEncoder(inputCol="Parch",outputCol="ParchVector")

+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|label|          Ticket|modifiedAge|modifiedFare|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
|26.0|     |       S|  7.925|Heikkinen, Miss. ...|  0.0|          3|     3|female|    0|    1|STON/O2. 3101282|       26.0|       7.925|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|  0.0|          2|     1|female|    1|    1|        PC 17599|       38.0|     71.2833|
|35.0|     |       S|   8.05|Allen, Mr. Willia...|  0.0|          5|     3|  male|    0|    0|          373450|       35.0|        8.05|
| 0.0|     |       Q| 8.4583|    Moran, Mr. James|  0.0|          6|     3|  male|    0|    0|          330877|        0.0|      8.4583|
|54.0|  E46|       S|51.8625|McCarthy, Mr. Tim...|  0.0|          7|     1|  male|    0|    0|           17463|       54.0|     51.8625|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|  0.0|          4|     1|female|    1|    1|          113803|       35.0|        53.1|
|14.0|     |       C|30.0708|Nasser, Mrs. Nich...|  0.0|         10|     2|female|    1|    1|          237736|       14.0|     30.0708|
| 4.0|   G6|       S|   16.7|Sandstrom, Miss. ...|  1.0|         11|     3|female|    1|    1|         PP 9549|        4.0|        16.7|
|58.0| C103|       S|  26.55|Bonnell, Miss. El...|  0.0|         12|     1|female|    0|    1|          113783|       58.0|       26.55|
|20.0|     |       S|   8.05|Saundercock, Mr. ...|  0.0|         13|     3|  male|    0|    0|       A/5. 2151|       20.0|        8.05|
| 2.0|     |       S| 21.075|Palsson, Master. ...|  1.0|          8|     3|  male|    3|    0|          349909|        2.0|      21.075|
|27.0|     |       S|11.1333|Johnson, Mrs. Osc...|  2.0|          9|     3|female|    0|    1|          347742|       27.0|     11.1333|
|39.0|     |       S| 31.275|Andersson, Mr. An...|  5.0|         14|     3|  male|    1|    0|          347082|       39.0|      31.275|
|14.0|     |       S| 7.8542|Vestrom, Miss. Hu...|  0.0|         15|     3|female|    0|    0|          350406|       14.0|      7.8542|
|55.0|     |       S|   16.0|Hewlett, Mrs. (Ma...|  0.0|         16|     2|female|    0|    1|          248706|       55.0|        16.0|
| 2.0|     |       Q| 29.125|Rice, Master. Eugene|  1.0|         17|     3|  male|    4|    0|          382652|        2.0|      29.125|
| 0.0|     |       S|   13.0|Williams, Mr. Cha...|  0.0|         18|     2|  male|    0|    1|          244373|        0.0|        13.0|
|31.0|     |       S|   18.0|Vander Planke, Mr...|  0.0|         19|     3|female|    1|    0|          345763|       31.0|        18.0|
|35.0|     |       S|   26.0|Fynney, Mr. Joseph J|  0.0|         21|     2|  male|    0|    0|          239865|       35.0|        26.0|
| 0.0|     |       C|  7.225|Masselmani, Mrs. ...|  NaN|         20|     3|female|    0|    1|            2649|        0.0|       7.225|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
only showing top 20 rows

+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|label|          Ticket|modifiedAge|modifiedFare|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
|26.0|     |       S|  7.925|Heikkinen, Miss. ...|  0.0|          3|     3|female|    0|    1|STON/O2. 3101282|       26.0|       7.925|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|  0.0|          2|     1|female|    1|    1|        PC 17599|       38.0|     71.2833|
|35.0|     |       S|   8.05|Allen, Mr. Willia...|  0.0|          5|     3|  male|    0|    0|          373450|       35.0|        8.05|
| 0.0|     |       Q| 8.4583|    Moran, Mr. James|  0.0|          6|     3|  male|    0|    0|          330877|        0.0|      8.4583|
|54.0|  E46|       S|51.8625|McCarthy, Mr. Tim...|  0.0|          7|     1|  male|    0|    0|           17463|       54.0|     51.8625|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|  0.0|          4|     1|female|    1|    1|          113803|       35.0|        53.1|
|14.0|     |       C|30.0708|Nasser, Mrs. Nich...|  0.0|         10|     2|female|    1|    1|          237736|       14.0|     30.0708|
| 4.0|   G6|       S|   16.7|Sandstrom, Miss. ...|  1.0|         11|     3|female|    1|    1|         PP 9549|        4.0|        16.7|
|58.0| C103|       S|  26.55|Bonnell, Miss. El...|  0.0|         12|     1|female|    0|    1|          113783|       58.0|       26.55|
|20.0|     |       S|   8.05|Saundercock, Mr. ...|  0.0|         13|     3|  male|    0|    0|       A/5. 2151|       20.0|        8.05|
| 2.0|     |       S| 21.075|Palsson, Master. ...|  1.0|          8|     3|  male|    3|    0|          349909|        2.0|      21.075|
|27.0|     |       S|11.1333|Johnson, Mrs. Osc...|  2.0|          9|     3|female|    0|    1|          347742|       27.0|     11.1333|
|39.0|     |       S| 31.275|Andersson, Mr. An...|  5.0|         14|     3|  male|    1|    0|          347082|       39.0|      31.275|
|14.0|     |       S| 7.8542|Vestrom, Miss. Hu...|  0.0|         15|     3|female|    0|    0|          350406|       14.0|      7.8542|
|55.0|     |       S|   16.0|Hewlett, Mrs. (Ma...|  0.0|         16|     2|female|    0|    1|          248706|       55.0|        16.0|
| 2.0|     |       Q| 29.125|Rice, Master. Eugene|  1.0|         17|     3|  male|    4|    0|          382652|        2.0|      29.125|
| 0.0|     |       S|   13.0|Williams, Mr. Cha...|  0.0|         18|     2|  male|    0|    1|          244373|        0.0|        13.0|
|31.0|     |       S|   18.0|Vander Planke, Mr...|  0.0|         19|     3|female|    1|    0|          345763|       31.0|        18.0|
|35.0|     |       S|   26.0|Fynney, Mr. Joseph J|  0.0|         21|     2|  male|    0|    0|          239865|       35.0|        26.0|
| 0.0|     |       C|  7.225|Masselmani, Mrs. ...|  NaN|         20|     3|female|    0|    1|            2649|        0.0|       7.225|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+-----+----------------+-----------+------------+
only showing top 20 rows

In [150]:
# Transform all features into a vector using VectorAssembler
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

numericalCols = ["modifiedAge","modifiedFare"]
#categoricalCols = ["Pclass","Sex","SibSp","Parch","Embarked"]
#categoricalCols = ["Sex","Embarked"]
categoricalCols = ["Sex"]
#otherCategoricalCols = ["Pclass","SibSp","Parch"]
otherCategoricalCols = ["Pclass","SibSp"]
#assemblerInputs = map(lambda c: c + "Vector", categoricalCols) + numericalCols
assemblerInputs = map(lambda c: c + "Vector", categoricalCols) + numericalCols +otherCategoricalCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
test.fillna(0)
train.fillna(0)

DataFrame[Age: double, Cabin: string, Embarked: string, Fare: double, Name: string, Parch: double, PassengerId: bigint, Pclass: bigint, Sex: string, SibSp: bigint, label: bigint, Ticket: string, modifiedAge: double, modifiedFare: double]

In [151]:
#First we will fit a Logistic Regression model for this Binary Classification problem. That is to predict whether a person survived or not (0,1).
from pyspark.ml.classification import LogisticRegression

(trainingData, testData) = train.randomSplit([0.7, 0.3], seed = 100)

# Create initial LogisticRegression model
lr = LogisticRegression(labelCol="label", featuresCol="features", maxIter=10)

In [154]:
#Execute the model
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[genderIndex,embarkIndex,genderEncode,assembler,lr])
#pipeline = Pipeline(stages=[genderIndex,embarkIndex,genderEncode,embarkEncode,pClassEncode,SibSpEncode,ParchEncode])
model = pipeline.fit(trainingData)
predictions = model.transform(testData)

#Check the schema
predictions.printSchema()

root
 |-- Age: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = false)
 |-- Fare: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parch: double (nullable = true)
 |-- PassengerId: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- label: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- modifiedAge: double (nullable = true)
 |-- modifiedFare: double (nullable = true)
 |-- indexedSex: double (nullable = true)
 |-- indexedEmbarked: double (nullable = true)
 |-- SexVector: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = true)

In [155]:
#Now we will evalute our model
from pyspark.ml.evaluation import BinaryClassificationEvaluator

evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")
evaluator.evaluate(predictions)

0.8532255065997397

In [156]:
#Now we will try tuning the model with the ParamGridBuilder and the CrossValidator.
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid for Cross Validation
paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.01, 0.5, 2.0])
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])
             .addGrid(lr.maxIter, [1, 5, 10])
             .build())

In [157]:
from pyspark.ml import Pipeline
# Create 5-fold CrossValidator
cv = CrossValidator(estimator=lr, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

pipelineforEval = Pipeline(stages=[genderIndex,embarkIndex,genderEncode,embarkEncode,assembler]).fit(train)
cvData = pipelineforEval.transform(train)
# Run cross validations
cvModel = cv.fit(cvData.select("label","features"))

In [158]:
# Use test set here so we can measure the accuracy of our model on new data

cvData = pipelineforEval.transform(testData)
predictions = cvModel.transform(cvData)

In [159]:
# cvModel uses the best model found from the Cross Validation
# Evaluate best model
evaluator.evaluate(predictions)

0.8649996901530645

In [160]:
#Download the CSV for test Data
cvData = pipelineforEval.transform(test)
predictions = cvModel.transform(cvData)
#predictions.printSchema()
predictions.select("PassengerId","prediction").show()

+-----------+----------+
|PassengerId|prediction|
+-----------+----------+
|          3|       1.0|
|          2|       1.0|
|          5|       0.0|
|          6|       0.0|
|          7|       0.0|
|          4|       1.0|
|         10|       1.0|
|         11|       1.0|
|         12|       1.0|
|         13|       0.0|
|          8|       0.0|
|          9|       1.0|
|         14|       0.0|
|         15|       1.0|
|         16|       1.0|
|         17|       0.0|
|         18|       0.0|
|         19|       1.0|
|         21|       0.0|
|         20|       1.0|
+-----------+----------+
only showing top 20 rows

In [162]:
#Now we will train our model using a random Forest Classifier
#Train a random classifier
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

rf = RandomForestClassifier(labelCol="label",featuresCol="features")
rfPipeline = Pipeline(stages=[genderIndex,embarkIndex,genderEncode,embarkEncode,assembler,rf])

rfModel = rfPipeline.fit(trainingData)

In [163]:
# Make predictions on test data using the Transformer.transform() method.
predictions = rfModel.transform(testData)

In [164]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator()
evaluator.evaluate(predictions)

0.8944041643428148

In [165]:
# Create ParamGrid for Cross Validation
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

paramGrid = (ParamGridBuilder()
             .addGrid(rf.maxDepth, [2, 4, 6])
             .addGrid(rf.maxBins, [20, 60])
             .addGrid(rf.numTrees, [5, 20])
             .build())

In [166]:
# Create 5-fold CrossValidator
rfCV = CrossValidator(estimator=rf, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

cvData = pipelineforEval.transform(trainingData)
# Run cross validations
cvModelRF = rfCV.fit(cvData.select("label","features"))

In [167]:
# Use test set here so we can measure the accuracy of our model on new data
cvDataTest = pipelineforEval.transform(testData)

rfPredictions = cvModelRF.transform(cvDataTest.select("label","features"))
evaluator.evaluate(predictions)

0.8944041643428147

In [168]:
#Select the best Model
bestModel = cvModelRF.bestModel

In [169]:
#Make predictions for the entire test data set
cvDataTest = pipelineforEval.transform(test)
finalPredictions = bestModel.transform(cvDataTest)

In [170]:
finalPredictions.select("passengerID","prediction").show()
finalPredictions.select("passengerID","prediction").count()

result = finalPredictions.select("passengerID","prediction")

+-----------+----------+
|passengerID|prediction|
+-----------+----------+
|          3|       1.0|
|          2|       1.0|
|          5|       0.0|
|          6|       0.0|
|          7|       0.0|
|          4|       1.0|
|         10|       1.0|
|         11|       1.0|
|         12|       1.0|
|         13|       0.0|
|          8|       0.0|
|          9|       1.0|
|         14|       0.0|
|         15|       1.0|
|         16|       1.0|
|         17|       0.0|
|         18|       0.0|
|         19|       0.0|
|         21|       0.0|
|         20|       1.0|
+-----------+----------+
only showing top 20 rows

In [172]:
import json
resultPd = result.toPandas()
newCollection = 'TitanicResult'
newColToSave = db[newCollection]
jsonData = json.loads(resultPd.to_json(orient='records'))

newColToSave.insert_many(jsonData)